$base-color: #81b29a;
$second-base-color: #7aa38d;
$button-color: #fff;
$logo-color: #000;
$text-color: #000;

$font-family: "Courier New", Courier, monospace;
$font-size: 14px;
$text-line: 1.5px;

$header-letter-spacing: -1px;
$header-font-size: 3em;
$header-font-weight: 1000;

$logo-letter-spacing: -6px;
$logo-font-size: 17rem;
$logo-font-weight: 1000;

$mobile-logo-letter-spacing: -2px;
$mobile-logo-font-size: 5rem;
$mobile-logo-font-weight: 1000;

$buttons-padding: 3em;
$sort-width: 28px;
$sort-height: 15px;
$border-radius: 20px;
